* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-size: 20px;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3A3632;
}

.logo_box {
  width: 200px;
  margin-left: 50px;
}

.logo {
  width: 121px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./assets/oracle_logo.png');
}

.tabs_box {
  display: flex;
  justify-content: space-between;
  width: 500px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.tab_name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contact_box {
  display: flex;
  justify-content: space-between;
  width: 340px;
  margin-right: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.accounts,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
}

.accounts {
  background-color: #312D21;
}

.contact {
  border: 1px solid #fff;
  border-radius: 3px;
}

.accounts,
.contact:hover {
  cursor: pointer;
}
